.create-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 750px;
  margin: 0 auto;
  background-color: #f9f9f9;
  margin-top: 50px;

  .form-group {
    margin-bottom: 15px;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
}
