.products-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 50px;

    input {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 250px;
    }
  }

  .products-liste {
    .product-card {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 1rem;
      margin-bottom: 1rem;
      width: 750px;
      display: flex;
      align-items: center;

      .product-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-right: 1rem;
        border-radius: 5px;
      }

      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: #333;
      }

      p {
        font-size: 1rem;
        color: #666;
        margin-bottom: 0.5rem;
      }

      .product-actions {
        margin-left: auto;
        display: flex;
        gap: 10px;
      }

      button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        height: 40px;
        

        &.btn-secondary {
          background-color: #6c757d;

          &:hover {
            background-color: #5a6268;
          }
        }
      }
    }
  }
}
