.products-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 50px;

    input {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 250px;
    }
  }

  .products-liste {
    .product-card {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 1rem;
      margin-bottom: 1rem;
      width: 750px;
      display: flex;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: #333;
      }

      p {
        font-size: 1rem;
        color: #666;
        margin-bottom: 0.5rem;
      }

      .product-actions {
        margin-left: auto;
        display: flex;
        gap: 10px;
      }
    }
  }
}
