<div class="content">
    <h1>Salons de discussions</h1>
    <p>Bienvenue dans les salons de discussions ! Ici, vous pouvez rejoindre des discussions en temps réel avec d'autres utilisateurs. Choisissez un salon pour commencer à discuter.</p>
    @if (currentUser?.role === 'Admin') { 
        <button class="btn btn-primary" [routerLink]="'/chat-rooms/create'">Créer un salon</button>
    }
    <div class="chat-rooms">
        @for (item of chatRooms$ | async; track item.id)  {
            <app-chat-room [chatRoom]="item" (delete)="deleteChatRoom($event)"></app-chat-room>
        }
</div>

