.content {
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

form {
  display: flex;
  flex-direction: column;
  width: 750px;
  padding: 20px;
  margin: 0 auto;
  background-color: #f5f5f5;

  h2 {
    text-align: center;
    margin-bottom: 35px;
  }

  .form-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;

    label {
      font-size: 16px;
    }

    input {
      flex: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    .form-select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3 !important;
    }
  }
}
